<div class = "product">
  <% products.each do |a_product| %>
    <div class="card col s3 blue-grey darken-1">
      <%= render 'products/product' , a_product: a_product %>
      </ul>
    </div>
  <% end %>
</div>
